
.wrapper {
    background-color: $bg-color;
    color: $main-text-color;
}

.img-fluid {
    width: 100%;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 21px;
}
h6 {
    font-size: 20px;
}

