<section class="first-screen">
    <div class="container-first">

        <div class="slider-info">
            <div class="swiper-wrapper">
                <div class="banner">
                    <h1 class="banner-title fw-bold">Прямое КАРГО из Китая</h1>
                    <h6 class="banner-description fw-light">Доставляем любые грузы из Китая по честной цене</h6>
                    <button class="btn btn-price color-btn" type="button">Рассчитать стоимость</button>
                </div>
            </div>
            <div class="swiper-slide"> Slide 2
            </div>

            <div class="swiper-slide"> Slide 3
            </div>

        </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-btn-prev"></div>
            <div class="swiper-btn-next"></div>
        </div>
    
    
    </div>
</section>
